<div class="container">
    <div class="logo-container">
        <img src="assets/images/logo.PNG" alt="logo" class="logo" />
        <div>Modernize</div>
    </div>
    <div class="searchbar">
        <app-searchbar></app-searchbar>
    </div>
    <div class="profiles">
        <span class="material-symbols-outlined">chat</span>
        <span class="material-symbols-outlined" matBadge="4" matBadgeSize="medium">notifications</span>
        <app-profile-dropdown/>
        <span class="material-symbols-outlined">expand_more</span>
    </div>
</div>
