<div class="container">
    <div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Home</span>
            <div>Dashboard</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">List</span>
            <div>Orders</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Shoppingmode</span>
            <div>Products</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Folder</span>
            <div>Categories</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Group</span>
            <div>Customers</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Bar_Chart</span>
            <div>Reports</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Star</span>
            <div>Coupons</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Chat</span>
            <div>Inbox</div>
        </div>
    </div>

    <div>
        <div class="sub-heading">Other Information</div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Help</span>
            <div>Knowledge Base</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">License</span>
            <div>Product Updates</div>
        </div>
    </div>

    <div>
        <div class="sub-heading">Settings</div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Person</span>
            <div>Personal Settings</div>
        </div>
        <div class="nav-button">
            <span class="material-symbols-outlined">Settings</span>
            <div>Global Settings</div>
        </div>
    </div>
</div>