<div class="container">
    <div class="back">
        <span class="material-symbols-outlined">arrow_back</span>
        <div>Back</div>
    </div>
    <div class="heading">
        <div>Categories</div>
        <div class="buttons">
            <button class="cancel-button">Cancel</button>
            <button class="save-button">Save</button>
        </div>
    </div>
    <div class="content">
        <app-products class="products"></app-products>
        <div> 
            <app-visibility></app-visibility>
            <app-category-info></app-category-info>
        </div>
    </div>
</div>>
