.container{
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.avatar{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: #7E84A3;
    margin-right: 5px;
}

.profile-text{
    color: #7E84A3;;
}